<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SCVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>

<body>
    <div class="row">
        <div class="jumbotron col-2.5"
            style="background-color: #0275d8; width: 18rem; height: 38.5rem; text-align: center;">
            <div class="border border-light" style="margin-top: -2rem; width: 15rem; height: 35rem;">
                <br>
                <a asp-controller="Opciones" asp-action="MenuPrincipal">
                    <h1 class="badge badge-info" style="font-size: 35px;">
                        <img src="https://www.mamaxxi.com/wp-content/uploads/2013/08/yomevacuno_logo-01.png" alt="logo"
                            style="height: 3rem; width: 3rem;">
                        SCVC
                    </h1>
                </a>
                <a asp-controller="Opciones" asp-action="VistaAgregarPersona" class="btn btn-light" style="margin-top: 30px; width: 13.5rem; height: 4rem;">
                    <div class="col">
                        <h3 style="margin-top: 8px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                            </svg>
                            Personas
                        </h3>
                    </div>
                </a>
                <a asp-controller="Opciones" asp-action="VistaVacunasPersona" class="btn btn-light" style="margin-top: 3.3px; width: 13.5rem; height: 4rem;">
                    <div class="col">
                        <h4 style="margin-top: 8px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                            </svg>
                            Vacunacion
                        </h4>
                    </div>
                </a>
                <a asp-controller="Opciones" asp-action="VistaRegistros" class="btn btn-light" style="margin-top: 3px; width: 13.5rem; height: 4rem;">
                    <div class="col">
                        <h4 style="margin-top: 8px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-book" viewBox="0 0 16 16">
                                <path
                                    d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                            </svg>
                            Registros
                        </h4>
                    </div>
                </a>
                <a asp-controller="Opciones" asp-action="VistaControl" class="btn btn-light" style="margin-top: 3px; width: 13.5rem; height: 4rem;">
                    <div class="col">
                        <h4 style="margin-top: 8px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-person" viewBox="0 0 16 16">
                            <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z"/>
                            </svg>
                            Control
                        </h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="container col-9">
            <div class="col">
                <header style="text-align: center;">
                    <nav class="navbar navbar-expand-lg navbar-light bg-primary" style="background-color: #0275d8; border-radius: 70rem;">
                        <div class="container-fluid">
                            <h3>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg>
                                    @ViewData["Usuario"]
                            </h4>
                        </div>
                        <div style="text-align: right; margin-left: -14rem;">
                            <a class="navbar-brand btn border BtnLogin"
                                style="border-radius: 20px; background-color: #0275d8;" id="BtnLogin"
                                asp-controller="Opciones" asp-action="CookieDelete">
                                <h4>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                                    </svg>
                                        Cerrar Sesion
                                </h4>
                            </a>
                        </div>
                    </nav>
                </header>
            </div>
            <div class="col">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <footer style="text-align: center; margin-top: -2.1rem;">
        <div class="border border-white jumbotron" style="width: 10; background-color: #0275d8;">
            <img style="height: 15rem; width: 15rem;"
                src="https://pbs.twimg.com/profile_images/2586242529/oym2j3gwktugb7vowkgh_400x400.png" alt="UMG">
            <h3>Universidad Mariano Galvez De Guatemala</h3>
            <h3>UMG</h3>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/animationIndex.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>