<div id="Info" class="Info" style="margin-top: 1rem;">
    <div class="card mb-3" style="width: 55rem; text-align: center;">
        <img style="width: 55rem; height: 20rem;" class="card-img-top"
            src="http://doctordevarices.com/wp-content/uploads/2019/04/Untitled-1-01-768x299.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Horario De Atencion</h5>
            <p class="card-text">Lunes a Viernes de 9:00 am a 4:00 pm</p>
            <button id="BtnCancelarInfo" class="btn btn-danger btn-lg btn-block" type="submit">Cerrar</button>
            <p class="card-text"><small class="text-muted">Aplica solo con cita previa</small></p>
        </div>
    </div>
</div>