@{
    ViewData["Title"] = "Creditos";
}
<partial id="BtnInformacion" name="~/Views/Home/_Informacion.cshtml"></partial>
<partial id="BtnLogin" name="~/Views/Home/_Login.cshtml"></partial>
<div class="container row align-items-start" style="margin-top: 1rem;">
    <div class="card border border-primary" style="width: 18rem; margin-left: 6rem; margin-right: 2rem;">
        <img src="https://pps.whatsapp.net/v/t61.24694-24/117262330_703995293489685_9206194012526023369_n.jpg?ccb=11-4&oh=01_AVw_5T73XxSPVtn6sUEuYKwZC6JMFzkDz3vXz5m2yZfXlg&oe=62504255"
            class="card-img-top" alt="Imagen">
        <div class="card-body">
            <h5 class="card-title">Emmanuel Cabrera</h5>
            <h5 class="card-title">1190-19-5728</h5>
            <p class="card-text">
                Curso: Analisis En Sistemas
            </p>
            <a href="https://github.com/AlexHades89" class="btn btn-primary">Perfil De Github</a>
        </div>
    </div>
    <div class="card border border-primary" style="width: 18rem; margin-top: 10rem; margin-right: 2rem;">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fbitemycoin.com%2Fwp-content%2Fuploads%2F2018%2F06%2FGitHub-Logo.png&f=1&nofb=1"
            class="card-img-top" alt="Imagen">
        <div class="card-body">
            <h5 class="card-title">Respositorio</h5>
            <p class="card-text">
                Aca Encontraras Nuestro Respositorio
            </p>
            <a href="https://github.com/BPoER00/SCVC.git" class="btn btn-primary">Repositorio</a>
        </div>
    </div>
    <div class="card border border-primary" style="width: 18rem;">
        <img src="https://scontent.fgua2-1.fna.fbcdn.net/v/t39.30808-6/274879903_4969239983132629_6735586113555969092_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=lCNuVf3WuPYAX9beTva&_nc_ht=scontent.fgua2-1.fna&oh=00_AT8qZxZpK9o-NN0uMnGFyEIOGOgR1YnrUtSJFgvCBw-fOg&oe=624F58CB"
            class="card-img-top" alt="Imagen">
        <div class="card-body">
            <h5 class="card-title">Bryan Paz</h5>
            <h5 class="card-title">1190-19-3929</h5>
            <p class="card-text">
                Curso: Analisis En Sistemas
            </p>
            <a href="https://github.com/BPoER00" class="btn btn-primary">Perfil De Github</a>
        </div>
    </div>
</div>